* {
    margin: 0px;
    text-align: center;
    background-color: dimgrey;
}

header {
    border: solid 30px darkred;
    background-color: darkgoldenrod;
    margin: 0.4in;
    padding: 10px;
    font-size: 300%;
}

body {
    border: solid 10px darkred;
    background-color: black;
    margin: 1.0in;
}

main {
    border: solid 30px darkred;
    background-color: darkgoldenrod;
    margin: 0.4in;
    padding: 10px;
    font-size: 205%
}

footer {
    border: solid 0px darkred;
    background-color: black;
    margin: 0.4in;
    padding: 10px;
    font-size: 20%;
}

p {
    font-size: 17px;
}

img {
    padding: 21.5px;
}

aside {
    background-color: darkgoldenrod;
}
